<h1>
	Login
</h1>
<form action="/login" method="post">
<!-- 	need to be username and password for passport -->
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
	<button>
		Login
	</button>
</form>

<a href="/register">Sign up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>