<h1>
	 simple signup form
</h1>
<form action="/register" method="POST">
	<!-- 	need to be username and password for passport -->

	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="password">
	<button>
		Sign up!
	</button>
</form>

<a href="/register">Sign up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>