<%- include("partials/header.ejs"); %>
<div class="ui container main">
	<div class="ui huge header">
		Welcome
	</div>

<a class="ui colored green button" href="/posts">Go to blog posts</a>
</div>

<%- include("partials/footer.ejs"); %>
